body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  color: #000;
}

button {
  background-color: #000;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  display: block;
  border-radius: 50px 50px 50px 50px;
}
a {
  text-decoration: none;
  color: #69696a;
}
#leftBorder {
  border-left: 5px solid #69696a;
  color: blue;
}
